{% extends 'base.html.twig' %}

{% block title %}Réservations
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row text-center py-5">
			<h1>Mes réservations</h1>
		</div>
		{% if reservations|length > 0 %}
			{% for item in reservations %}
				<p>{{item.start_date}}</p>
				<p>{{item.end_date}}</p>
				<p>{{item.status}}</p>
				<p>{{item.room.name}}</p>

			{% endfor %}

		{% else %}
			<div class="text-center">
				<p>Vous n'avez pas encore de réservation.</p>

				<a href={{ path('app_room') }} class="btn btn-custom btn-lg m-2 rounded-pill bg-primary">Réserver</a>

			</div>
		{% endif %}
	</div>
{% endblock %}
