{% extends 'base.html.twig' %}

{% block title %}les salles
{% endblock %}

{% block body %}

	{# <div class="p-4 d-flex justify-content-center mb-4 border-bottom border-2">
		<h1>Nos salles</h1>
	</div> #}

    <div class="p-5 mb-4 border-bottom border-2">
		<h1 class="">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				Bienvenu
				<span class="text-danger">{{ app.user.name }}</span>!
			{% else %}
				 Bienvenu !
			{% endif %}
		</h1>
	</div>

	<div class="container bg-body-gray">
		<div class="row p-3">
			{% for item in rooms %}
				<div class="col-lg-3 col-md-4 col-sm-6 shadow-sm position-relative">
					{# <img
					src="{{ asset('/images/salle1.jpg') }}" class="img-fluid rounded-4 pt-3" alt=""> #}
                    
                    {% for roomPix in item.images %}
                    <img src={{ roomPix.url }} class="img-fluid rounded-4 pt-3" alt="">
                    {% endfor %}

					<div class="container p-2">
						<h3>
							{{ item.name }}
						</h3>

						<p>{{item.description | slice(0,130)}} ...</p>
						<p>Capacité :
							{{item.capacity}}
							places</p>
						<a href="{{ path('booking', {id: item.id } ) }}" class="btn btn-custom btn-lg m-2 rounded-pill bg-primary">Réserver</a>
						<a href="{{ path('room.show', {id: item.id } ) }}" class="btn btn-custom btn-lg m-2 rounded-pill bg-primary">Voir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="d-flex justify-content-center my-5">
		{{ knp_pagination_render(rooms) }}
	</div>

{% endblock %}
